<div style="overflow-y: auto;  position: relative;
overflow-x: auto;">
    <!-- <div style="display: block;height: 500px;width: 1445px;">
  <canvas
    baseChart
    responsive="true"
    width="100"
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [colors]="chartColors"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
</div> -->
    <p style="text-align: center;font-family: roboto;">Confirmed cases and recovery graph from last 15days in India.</p>
</div>

<router-outlet>
</router-outlet>